.body {
  box-sizing: border-box;
  margin: 0;
  color: var(--color-text-default-high);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-medium);
  font-family: var(--font-ui);
  line-height: var(--line-height-normal-medium);
  text-align: start;
  word-break: break-all;

  &.-align-start {
    text-align: start;
  }

  &.-align-center {
    text-align: center;
  }

  &.-align-end {
    text-align: end;
  }

  &.-emphasis-high {
    color: var(--color-text-default-high);

    &.-is-inverted {
      color: var(--color-text-inverse-high);
    }

    &.-is-on-scrim {
      color: var(--color-text-on-scrim-high);
    }
  }

  &.-emphasis-mid {
    color: var(--color-text-default-mid);

    &.-is-inverted {
      color: var(--color-text-inverse-mid);
    }

    &.-is-on-scrim {
      color: var(--color-text-on-scrim-mid);
    }
  }

  &.-emphasis-low {
    color: var(--color-text-default-low);

    &.-is-inverted {
      color: var(--color-text-inverse-low);
    }

    &.-is-on-scrim {
      color: var(--color-text-on-scrim-low);
    }
  }

  &.-size-small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-normal-small);
  }

  &.-size-medium {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-normal-medium);
  }

  &.-size-large {
    font-size: var(--font-size-large);
    line-height: var(--line-height-normal-large);
  }

  &.-weight-normal {
    font-weight: var(--font-weight-normal);
  }

  &.-weight-bold {
    font-weight: var(--font-weight-bold);
  }
}
