loop do
  # Fade in: gradually brighten from 1/10 up to full brightness
  10.times do |step|
    acc = imu.read_all[:acceleration]
    flip = acc[0] < -0.5 if acc[0].abs > 0.5
    b = step + 1
    {{HEIGHT}}.times do |y|
      dst_y = flip ? {{H_MINUS_1}} - y : y
      {{WIDTH}}.times do |x|
        dst_x = flip ? {{W_MINUS_1}} - x : x
        c = pattern[y][x]
        led.set_rgb(dst_y * {{WIDTH}} + dst_x, c[0] * b / 10, c[1] * b / 10, c[2] * b / 10)
      end
    end
    led.show
    sleep_ms delay_ms
  end

  # Fade out: dim back toward dark
  10.times do |step|
    acc = imu.read_all[:acceleration]
    flip = acc[0] < -0.5 if acc[0].abs > 0.5
    b = 9 - step
    {{HEIGHT}}.times do |y|
      dst_y = flip ? {{H_MINUS_1}} - y : y
      {{WIDTH}}.times do |x|
        dst_x = flip ? {{W_MINUS_1}} - x : x
        c = pattern[y][x]
        led.set_rgb(dst_y * {{WIDTH}} + dst_x, c[0] * b / 10, c[1] * b / 10, c[2] * b / 10)
      end
    end
    led.show
    sleep_ms delay_ms
  end

  # Rest in the dark before fading in again
  sleep_ms 1000
end
